.list-container{
    width: 300px;
}
@mixin listElement {
    position: relative;
    list-style: none;
    margin: 5px;
    display: inline-flex;
    align-items: stretch;
}
.list-element{
 @include listElement()
}
.list-element-left{
    @include listElement()
}
.media-img{
    z-index: inherit;
    border-radius: 5px;
    height: 320px;
    width: 225px;
    position: relative;
    overflow: hidden;
    
}
.medium{
    height: 115px;
    width: 85px;
}
.media-title{
    display:none;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.media-img:hover + .media-title{
    height: 100%;
    z-index: 2;
    display:inherit;
    position: absolute;
}

.list-element {
    .media-img:hover{
        border-radius: 5px 0 0 5px;
    }
    .media-img:hover + .media-title{
        left: 85px;
        border-radius:  0 5px 5px 0;
    }
}
.list-element-left{
    .media-img:hover{
        border-radius: 0 5px 0 5px;
        
    }
    .media-img:hover + .media-title{
        right:85px;
        border-radius:  5px 0 0 5px;
    }
}