
.list-element {
    position: relative;
    list-style: none;
    margin: 5px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    .media-img{
        border-radius: 15px;
        max-height: 320px;
        max-width: 225px;
        overflow: hidden
    }
    .media-title{
        display:none;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        height: 10%;
        border-radius:  0 0 15px 15px;
    }
    &:hover .media-title{
        width:100%;
        display:inherit;
        position: absolute; 
    }
   
}
